<div class="col-md-4">
    <div class="position-sticky">
        <div class="d-grid mb-3">
            <a href="{{ path('blog', {'page': 1}) }}" class="btn btn-secondary">Liste des articles</a>
        </div>
        <div class="p-4 bg-secondary bg-opacity-10 rounded">
            <h4 class="fst-italic">À propos</h4>
            <p class="mb-0 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean cursus nisi a erat tempor sollicitudin. Curabitur mattis diam lobortis finibus pellentesque. Etiam quis auctor tortor, eu viverra nunc. Aliquam facilisis.</p>
        </div>
    </div>
</div>
