<div class="col-md-4 mt-2">
    <div class="d-grid mb-3">
        <a href="{{ path('blog', {'page': 1}) }}" class="btn btn-secondary">Liste des articles</a>
    </div>
    <div class="p-4 bg-secondary bg-opacity-10 rounded">
        <h4 class="fst-italic">À propos du blog</h4>
        <p class="mb-0 text-justify">Sur ce blog, j'essaie de partager ma passion pour les nouvelles technologies. Il me sert aussi de bloc note pour ne pas oublier et aussi pour apprendre.</p>
    </div>
</div>
