<div class="blog-featured p-4 p-md-5 mb-4 text-white rounded">
    <div class="col-md-8 px-0">
        <h1 class="display-5 fst-italic">MARCHAL Simon</h1>
        <p class="lead my-3">Une phrase d'accroche pas encore trouvée et parfaitement originale !</p>
    </div>
</div>
