<div class="blog-featured p-4">
    <div class="container py-lg-5">
        <h1 class="display-2">
            MARCHAL Simon
            <small class="text-muted fs-2">&middot;&nbsp;Développeur web PHP/Symfony</small>
        </h1>
        <ul class="list-inline">
            <li class="list-inline-item">
                Connaissance des langages
            </li>
            <li class="list-inline-item">
                <span class="badge bg-secondary">HTML</span>
            </li>
            <li class="list-inline-item">
                <span class="badge bg-secondary">CSS</span>
            </li>
            <li class="list-inline-item">
                <span class="badge bg-secondary">JavaScript</span>
            </li>
            <li class="list-inline-item">
                <span class="badge bg-secondary">PHP</span>
            </li>
            <li class="list-inline-item">
                <span class="badge bg-secondary">SQL</span>
            </li>
            <li class="list-inline-item">
                <span class="badge bg-secondary">Lua</span>
            </li>
        </ul>
        <p class="lead">
            Développeur web depuis plus de 15 ans, je suis un autodidacte passionné et j'ai depuis obtenu plusieurs diplômes et certifications. J'ai créé divers projets personnels et professionnels en utilisant les dernières technologies lorsque cela était possible et pertinent.
        </p>
    </div>
</div>
