<nav class="blog-pagination" aria-label="Pagination">
    <a class="btn btn-outline-secondary rounded-pill disabled">Précédent</a>
    <a class="btn btn-outline-secondary rounded-pill disabled">Suivant</a>
</nav>
