{% extends "base.html.twig" %}

{% block title %}Bienvenue sur mon Blog{% endblock %}

{% block body %}

    {% include 'home/_featured.html.twig' %}
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-2 mb-5">
            <div class="col d-flex align-items-start">
                <i class="bi bi-award text-muted flex-shrink-0 me-3 fs-3"></i>
                <div class="pt-1">
                    <h4 class="fw-bold mb-0">Diplômé et certifié</h4>
                    <p>Connaissances validées par plusieurs diplômes et certifications.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <i class="bi bi-body-text text-muted flex-shrink-0 me-3 fs-3"></i>
                <div class="pt-1">
                    <h4 class="fw-bold mb-0">Code de qualité</h4>
                    <p>Respectant les recommendations et le principe d'auto-documentation.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <i class="bi bi-lightbulb text-muted flex-shrink-0 me-3 fs-3"></i>
                <div class="pt-1">
                    <h4 class="fw-bold mb-0">Porteur de solutions</h4>
                    <p>Plusieurs années d'expériences à résoudre des problèmes divers.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <i class="bi bi-patch-question text-muted flex-shrink-0 me-3 fs-3"></i>
                <div class="pt-1">
                    <h4 class="fw-bold mb-0">Apprentissage constant</h4>
                    <p>Autodidacte depuis 15 ans et à l'écoute des nouveautés.</p>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <h2 class="blog-caption h4">Blog</h2>
            <div class="col-md-8">
                {% for post in posts %}
                {% include 'home/_post.html.twig' with {'post': post} %}
                {% else %}
                <p class="text-secondary fst-italic">Aucun article</p>
                {% endfor %}
            </div>
            {% include 'home/_about.html.twig' %}
        </div>
        <div id="contact" class="row mb-4">
            <h2 class="blog-caption mb-3">Contactez moi</h2>
            <div class="col-md-4">
                <h3 class="h5 ps-2">Informations</h3>
                <div class="p-4 bg-secondary bg-opacity-10 rounded">
                    <p>N'hésitez pas à privilégier les réseaux sociaux pour obtenir une réponse rapide ou pour simplement échanger.</p>
                    <p>Délais de réponse : ~72 heures</p>
                </div>
            </div>
            <form action="{{ path('contact') }}" method="post" class="col-md-8">
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Votre adresse email</label>
                    <input type="email" class="form-control" id="emailInput" placeholder="nom@exemple.fr">
                </div>
                <div class="mb-3">
                    <label for="messageTextarea" class="form-label">Votre message</label>
                    <textarea class="form-control" id="messageTextarea" rows="3" placeholder="Votre message"></textarea>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
