{% extends "base.html.twig" %}

{% block title %}Page non trouvée &middot; {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">
        <h1>Page non trouvée !</h1>
        <p class="lead">Le serveur n'a pas pu trouver la page que vous avez demandé et à retourner une erreur 404.</p>
    </div>

{% endblock %}
