{% extends "base.html.twig" %}

{% block title %}Mentions légales &middot; {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">
        <h1>Mentions légales</h1>
        <p class="lead">Éditeur</p>
        <dl>
            <dt>Adresse</dt>
            <dd>(information disponible sur demande)</dd>

            <dt>Téléphone</dt>
            <dd>(information disponible sur demande)</dd>

            <dt>Directeur de la publication</dt>
            <dd>MARCHAL Simon</dd>
        </dl>
    </div>

{% endblock %}
