<h1>Création de compte sur le Blog de Simon</h1>
<p>Bonjour {{ user }},</p>
<p>
    Votre compte sur le <a href="{{ url('home') }}">Blog de Simon</a> a bien été créé !
    <br>
    Vous pouvez désormais vous connecter avec vos identifiants.
</p>
