{% extends "base.html.twig" %}

{% block title %}Modifier l'article "{{ post.title }}" &middot; {{ parent() }}{% endblock %}

{% block body %}

    <div class="container">
        <h1>Modifier l'article "{{ post.title }}"</h1>
        {% include 'admin/posts/_post.html.twig' with {
            'url': path('admin_blog_edit', {'id': post.id}),
            'post': post,
            'token': token
        } %}
    </div>

{% endblock %}
